/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/users/users.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.users_container__pXXlJ {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.users_top__M5j1D {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.users_main__mJ6Rp {
  padding: 10px;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.users_table__5uvFS {
  width: 100%;
}

.users_table__5uvFS td {
  padding: 10px;
}

.users_user__nr_Pu{
    display: flex;
    gap: 10px;
}

.users_userImage__sjzW1{
    border-radius: 50%;
    object-fit: cover;
}

.users_buttonTd__ifyDI{
    display: flex;
    align-items: center;
    gap: 3px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/components/search/search.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.search_container__LzfF6 {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2e374a;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
}

.search_input__RA2TL {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/components/button/button.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.button_main__j6ofK{
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button_danger__CCLGn{
    padding: 10px;
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background-color: #f7737375;
}

.button_paginationPrevious__3oG0w{
    padding: 10px;
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background-color: #5d57c9;
}
.button_paginationNext__Vwlk9{
    padding: 10px;
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background-color: #5d57c9;
}

.button_disabled__0Mb6X{
    padding: 10px;
    color: var(--text);
    border: none;
    border-radius: 10px;

    background-color: #2e374a;
    cursor: not-allowed;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/components/pagination/pagination.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__ESOGp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
