.container{
    position: sticky;
    top: 40px;
    height: calc(100vh - 40px); /* Görünür ekran yüksekliği - sticky üst boşluk */
    max-height: 100vh; /* Tam ekran yüksekliğiyle sınırla */
    overflow-y: auto; /* İçerik sığmazsa kaydırma çubuğu olsun */
}


.userContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.userProfilePhoto{
    border-radius: 50%;
    object-fit: cover;
}


.userDetail{
    display: flex;
    flex-direction: column;
}
.userName{
    font-size: large;
}
.userPosition{
    color: var(--textSoft);
    font-size: 12px;
    font-style: italic;
}

.list{
    list-style:none;
}

.menuItem{
    color: var(--textSoft);
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0px;
}

.logout{
    padding: 20px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    border: none;
    color: white;
    width: 100%;
}
.logout:hover{
    background-color: #2e374a;
}