/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/card/card.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.card_container__iVqz_ {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease-in-out; 
}

.card_container__iVqz_:hover {
    background-color: #2e374a;
    transform: translateY(-8px); 
    transition: all 0.2s ease-in-out; 
}



.card_texts___nHU6{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_number__4sjYn{
    font-size: 24px;
    font-weight: 500;
}

.card_detail__dyqNm{
    font-size: 14px;
    font-weight: 300;
}

.card_positive__cCgwz{
    color: greenyellow;
}

.card_negative__KLipm{
    color: rgb(255, 48, 48);
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/(pages)/dashboard/dashboard.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.dashboard_container__Anpno{
    display: flex;
}

.dashboard_menu__272Ow{
    flex:1 1;
    background-color: var(--bgSoft);
    padding: 20px;
}

.dashboard_content__UEBJ0{
    flex: 4 1;
    padding: 20px;

}

.dashboard_wrapper__OTXVp{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.dashboard_main__nACCE{
    flex: 3 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard_cards__ehURu{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.dashboard_side__t8kcM{
    flex: 1 1;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/chart/chart.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.chart_container__JztY_{
    height: 450px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 50px;
}

.chart_title__xbaI9{
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/rightbar/rightbar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.rightbar_container__euYye {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding-right: 10px;
    padding-bottom: 150px;
}

.rightbar_item__bPc4s {
    background: linear-gradient(to top, #182237, #253352);
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 360px;
}

.rightbar_bgContainer__MxM1_ {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 75%;
}

.rightbar_bg__BduY0 {
    object-fit: contain;
    opacity: 0.125;
}

.rightbar_texts__4zVY8 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.rightbar_notification__qWTG_ {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 12px;
}

.rightbar_title__ZHPzU {
    font-weight: 500;
    font-size: 12px;
    color: var(--textSoft);
}

.rightbar_date__L4Sje {
    color: var(--textSoft);
    font-weight: 500;
    font-size: 12px;
}

.rightbar_button__zi_a2 {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    background-color: #5d57c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/transactions/transactions.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.transactions_container__s2FuA{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}

.transactions_title__5ZmTi{
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
}

.transactions_table__qvfCq{
    width: 100%;
}

.transactions_table__qvfCq td{
    padding: 10px;
}

.transactions_status__Sq4DS{
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    color: white;
    text-align: center;
}

.transactions_done__8nZ4z{
    background-color: #89f77375;
    font-size: 12px;

}

.transactions_pending__TmgWS{
    background-color: #73d8f775;
    font-size: 12px;

}
.transactions_cancelled__Bu9Qv{
    background-color: #f7737375;
    font-size: 12px;

}

.transactions_table_header__Z1wee{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.transactions_table_body__s9MCO{
    font-size: 12px;
    text-transform: uppercase;
}
